body,
.container-div::before,
.mute-div::before {
    background: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-36320.jpg) 0 / cover fixed;
}
body {
    background-color: #ececec;
    font-family: 'Arimo', sans-serif;
    color: #ececec;
    text-shadow: 1px 2px 5px black;
}
h1 {
    font-size: 10vw;
    font-weight: normal;
    letter-spacing: 2.5px;
    margin: 0;
    padding: 0;
}
h2 {
    font-size: 5vw;
    font-weight: normal;
    letter-spacing: 2.5px;
    margin: 0;
    padding: 0;
}
h3 {
    font-size: 2.5vw;
    font-weight: normal;
    letter-spacing: 2.5px;
    margin: 0;
    padding: 0;
    word-spacing: 2.5px;
}
.container-div::before {
    content: '';
    border-radius: 20px;
    margin: 20vh 20vw;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter:blur(5px);
    z-index: -1;
}
.container-div {
    background-color: #00000055;
    border-radius: 20px;
    box-shadow: 2px 5px 10px -2px black;
    display: flex;
    flex-direction: row;
    height: 60vh;
    justify-content: center;
    margin: 20vh auto;
    width: 60vw;
}
.display-div {
    align-items: center;
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2.5vh 2.5vh 2.5vh 0;
    text-align: center;
    width: 100%;
}
.display-time {
    align-items: center;
    background-color: #00000055;
    border-radius: 10px;
    box-shadow: inset 0 3px 10px -3px black;
    display: flex;
    flex: 3;
    margin: 0 0 2.5vh 0;
    justify-content: center;
    width: 100%;
}
.display-other {
    align-items: center;
    background-color: #00000055;
    border-radius: 10px;
    box-shadow: inset 0 3px 10px -3px black;
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.control-div {
    display: flex;
    flex-direction: column;
    padding: 2.5vh;  
    width: 10vw;    
}
.form-div {
    display: flex;
    flex: 30%;
    flex-direction: column;
}
.button-div {
    display: flex;
    flex: 70%;
    flex-direction: column;
    flex-wrap: wrap;
}
.timer-presets {
    display: grid;
    flex: 1;
    flex-direction: column;
    grid-template-columns: repeat(auto-fill,minmax(5vw, 1fr));
    padding: 2.5vh 0 0 0;
}
.alarm-presets {
    display: grid;
    flex: 1;
    flex-direction: column;
    grid-template-columns: repeat(auto-fill,minmax(5vw, 1fr));
    padding: 2.5vh 0 0 0;
}
.input {
    border-radius: 10px 10px 0 0;
    box-shadow: inset 0 3px 10px -3px black;
    flex: 1;
    outline: none;
    padding: 0 10px;
    text-align: center;
}
.submit {
    border-radius: 0 0 10px 10px;
}
.button {
    background-image: linear-gradient(to bottom, #ffffff, #d0d0d0);
    box-shadow: 1px 2px 5px -1px black;
    cursor: pointer;
    flex: 1;
    outline: none;
}
.button:hover {
    background-image: linear-gradient(to bottom, #d0d0d0, #ffffff);
}
.stop-button {
    background-image: linear-gradient(to bottom, #444444, #222222);
    color: #ffffff;
}
.stop-button:hover {
    background-image: linear-gradient(to bottom, #222222, #444444);
    color: #ffffff;
}
.mute-div::before {
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    border-radius: 10px;
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    filter:blur(5px);
    z-index: -1;
}
.mute-div {
    position: absolute;
    right: 1vw;
    bottom: 1vh;
    background-color: #00000055;
    border-radius: 15px;
    box-shadow: 2px 5px 10px -2px black;
    height: 10vh;
    margin: 1vh 1vw;
    padding: 0.75vh 0.75vw;
    width: 4vw;
}
.mute {
    border-radius: 10px;
    margin: 1vh 1vw 0 0;
    height: 8vh;
    width: 4vw;
    box-shadow: 1px 2px 5px -1px black;
    cursor: pointer;
    outline: none;
}
.mute:active {
    background-size: 92.5%;
    background-position: right 2px top 2px;
}
.mute-icon {
    background-image:url("images/Mute_Icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 95%;
}
.unmute-icon {
    background-image:url("images/Speaker_Icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 95%;
}
.hidden {
    opacity: 0;
    transition: opacity 1s;
}
.visible {
    opacity: 1;
}